/* CSS declarations go here */

body {background: url("../images/diagonales_decalees.png") 0 0 repeat;}
.delete {float:right;margin-top:5px;}
.error {color:red;}
.edit {padding: .2em;color: #000;background: #fcf8e3;border-radius: 4px;}

.grid-item { width:33.3333%;}

.navbar-default {color: #31708f;background-color: #d9edf7;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}
.navbar-header .navbar-brand, .navbar-header .navbar-brand:hover {color: #31708f;}

	/* margin */
	.m-all-0{margin:0}.m-all-5{margin:5px}.m-all-10{margin:10px}.m-all-15{margin:15px}.m-all-20{margin:20px}
	.m-t-2{margin-top:2px}.m-t-5{margin-top:5px}.m-t-10{margin-top:10px}.m-t-15{margin-top:15px}.m-t-20{margin-top:20px}.m-t-30{margin-top:30px}
	.m-r-5{margin-right:5px}.m-r-10{margin-right:10px}.m-r-15{margin-right:15px}.m-r-20{margin-right:20px}.m-r-30{margin-right:30px}
	.m-b-5{margin-bottom:5px}.m-b-10{margin-bottom:10px}.m-b-15{margin-bottom:15px}.m-b-20{margin-bottom:20px}.m-b-30{margin-bottom:30px}.m-b-40{margin-bottom:40px}
	.m-l-5{margin-left:5px}.m-l-10{margin-left:10px}.m-l-15{margin-left:15px}.m-l-20{margin-left:20px}.m-l-30{margin-left:30px}

	/* padding */
	.p-all-5{padding:5px}.p-all-10{padding:10px}.p-all-15{padding:15px}.p-all-20{padding:20px}
	.p-t-5{padding-top:5px}.p-t-10{padding-top:10px}.p-t-15{padding-top:15px}.p-t-20{padding-top:20px}.p-t-30{padding-top:30px}
	.p-r-5{padding-right:5px}.p-r-10{padding-right:10px}.p-r-15{padding-right:15px}.p-r-20{padding-right:20px}.p-r-30{padding-right:30px}
	.p-b-5{padding-bottom:5px}.p-b-10{padding-bottom:10px}.p-b-15{padding-bottom:15px}.p-b-20{padding-bottom:20px}.p-b-30{padding-bottom:30px}
	.p-l-5{padding-left:5px}.p-l-10{padding-left:10px}.p-l-15{padding-left:15px}.p-l-20{padding-left:20px}.p-l-30{padding-left:30px}

	/*FONT-SIZES*/
	.font1{font-size:1px}.font7{font-size:7px}.font8{font-size:8px}.font9{font-size:9px}.font10{font-size:10px}.font11{font-size:11px}.font12{font-size:12px}.font13{font-size:13px}.font14{font-size:14px}.font15{font-size:15px}.font16{font-size:16px}.font17{font-size:17px}.font18{font-size:18px}.font19{font-size:19px}.font20{font-size:20px}.font21{font-size:21px}.font22{font-size:22px}.font23{font-size:23px}.font24{font-size:24px}.font25{font-size:25px}.font26{font-size:26px}.font27{font-size:27px}.font28{font-size:28px}.font29{font-size:29px}.font30{font-size:30px}.font31{font-size:31px}.font32{font-size:32px}.font33{font-size:33px}.font34{font-size:34px}.font35{font-size:35px}.font36{font-size:36px}.font37{font-size:37px}.font38{font-size:38px}.font39{font-size:39px}.font40{font-size:40px}.font45{font-size:45px}.font50{font-size:50px}.font60{font-size:60px}.font70{font-size:70px}.font80{font-size:80px}.font90{font-size:90px}.font100{font-size:100px}

	/*OTHER*/
	.font-slim{font-weight: 100}.font-normal{font-weight: 400}.font-bold{font-weight: 900}

	.text-red{color:red}.bg-light-blue{color: #31708f;background-color: #d9edf7;}

	.width100Poh{width:100%;overflow:hidden;}

@media screen and (max-width: 650px) {
	.grid-item { width: 50%;}
}

@media screen and (max-width: 450px) {
	.grid-item { width: 100%;}
}